@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
html{
    box-sizing: border-box;
    --color-principal: rgb(152, 202, 255);
    --etiquetas: rgb(60, 144, 254);
    --fuentes: rgb(255, 253, 255);
    --fondos: rgba(255, 255, 255, 0.8);
    font-family: "Roboto", sans-serif;

}

body{
    margin: 0;
    min-height: 100vh;
}

/* header */

.header{
    display: flex;
    background-color: var(--color-principal);
    color: var(--fuentes);
    margin: 0;
    width: 100%;
}



.header-logo{
    margin: 0 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.header-logo h1{
    margin: 0;
    font-weight: 800;    
   
}

.imagen{
    background-image: url("/imagenes/logo.JPG") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
    height: 100px;
    width: 100%;
    border-radius: 5px;
    margin: 10px 0;
   
}

.header-busqueda{
    width: 60%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#busqueda{
    width: 70%;
    height: 40px;
    border:none;
    border-radius: 5px 0 0 5px;
    background-color: var(--fondos);
    font-family: "Roboto", sans-serif;
    margin-right: 0;
    
}

.logo-busqueda {
    color: var(--etiquetas) ;
    background-color: rgba(255, 255, 255, 0.9);
    align-content: center;
    border-radius: 0 5px 5px 0;
}
.logo-busqueda i{
    background-color:rgba(255, 255, 255, 0.9) ;
    padding: 5px;
    margin: 0;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    
}

.logo-busqueda i:hover{
    background-color: var(--etiquetas);
    color: var(--fondos);

}
::placeholder{
    color:var(--etiquetas);
    font-size: 1rem;
}

.header-admin{
    margin: auto 10px;
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header-carrito-total, .header-usuario{
    background-color: var(--fondos) ;
    padding: 3px;
    color: var(--etiquetas);
    border-radius: 5px;
    cursor: pointer;
}

.header-carrito-total:hover, .header-usuario:hover{
    background-color: var(--etiquetas) ;
    color: var(--fondos);
}

.header-admin span{
    margin-left: 10px;
}

/*************** nav ***********/

.menu{
   background-color: var(--color-principal);
   margin-left: 0;

}

.menu-opciones{
    display: flex;
    margin: 0;
    justify-content: flex-start;
    list-style-type: none;     
    padding: 0;
}
.opciones{
    text-decoration: none;
    padding: 10px 25px;
    list-style: none;
    background-color: var(--etiquetas);
    margin:0 1px 0 0;
    color: var(--fuentes);
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-radius: 5px 5px 0 0;
    cursor: pointer;
    
}

.opciones:hover{
    background-color: var(--fuentes);
    color: var(--etiquetas);
}

/** media queries **/

@media (max-width: 540px) {
    .header{
        flex-direction: column;
        justify-content: center;
        margin: auto;
        width: 100%;
    }

    .header-logo, .header-admin{
        justify-content: center;
        margin: auto;
        
    }
    
    .menu-opciones{
        flex-direction: column;
        text-align: center;
    }

    .header-busqueda, .header-admin{
        justify-content: center;
        margin: 5px auto;
        width: 100%;
    }
    
    .header-carrito-total, .header-usuario{
        width: 80%;
        margin: 5px auto;
    }
}